#main .article-pic#doge-card {
    background-image: url("/img/blog/doge-card.jpg");
}

#main .article-pic#solar-system {
    background-image: url("/img/blog/solar-system.jpg");
}

#main .article-pic#marissafy {
    background-image: url("/img/blog/marissafy.png");
}

#main .article-pic#tank {
    background-image: url("/img/blog/tank.jpg");
}

#main .article-pic#tilt-shift {
    background-image: url("/img/blog/tilt-shift.jpg");
}

#main .article-pic#game-of-life-pic {
    background-image: url("/img/blog/game-of-life.jpg");
}

.pic-wrapper img {
    border: 12px solid white; /*shake it like a polaroid*/
    -webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
       -moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
            box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
    display: block;
    margin: 20px auto;
    width: 80%;
}
#main .pic-wrapper p {
    font-size: 12pt;
    margin-top: 15px;
    text-align: center;
}
