#main .article-pic#solar-system {
    background-image: url("/img/blog/solar-system.jpg");
}

#main .article-pic#marissafy {
    background-image: url("/img/blog/marissafy.png");
}

#main .article-pic#tank {
    background-image: url("/img/blog/tank.jpg");
}

#main .article-pic#tilt-shift {
    background-image: url("/img/blog/tilt-shift.jpg");
}

#main .article-pic#game-of-life-pic {
    background-image: url("/img/blog/game-of-life.jpg");
}
