#main {
    overflow: auto;
}

.work {
    float: left;
    width: 33%;
}
    .work:nth-child(3n) {
        clear: left;
    }

.work img {
    border-radius: 50%;
    display: block;
    margin: 0 auto 15px;
    width: 200px;
}

.work p {
    text-align: center;
}

.work-vertical-divider {
    display: none;
}

@media (max-width: 699px) {
    .work {
        float: none;
        width: auto;
        margin: 30px 0 30px;
    }

    .work-vertical-divider {
        display: block;
    }
}
