#main .section-header {
    font-size: 16pt;
    margin-top: 50px;
    margin-bottom: 10px;
}

.pic-wrapper img {
    width: 40%;
}

@media (max-width: 699px) {
    .pic-wrapper img {
        width: 60%;
    }
}

@media (max-width: 499px) {
    .pic-wrapper img {
        width: 80%;
    }
}
