#board-creator, #board-canvas, #generation-counter-wrapper {
    float: left;
}

#board-creator, #generation-counter-wrapper {
    width: 200px;
}
    #board-creator .seed-button {
        display: block;
        margin: auto;
        margin-top: 10px;
        width: 75px;
        padding: 5px;
    }
    #board-creator #play {
        margin-top: 40px;
    }

#board-canvas {
    background-image: url("grid-fallback.png");
    background-size: 100%;
    margin-bottom: 100px;
}

@media (max-width: 920px) {
    #board-creator, #board-canvas, #generation-counter-wrapper {
        float: none;
        margin: 20px auto;
    }

    #board-canvas {
        display: block;
        margin-bottom: 0;
    }
}

@media (max-width: 550px) {
    #board-canvas {
        width: 70%;
    }

    #generation-counter-wrapper h4, #generation-counter-wrapper h3 {
        margin: 0;
    }
        #generation-counter-wrapper h4 {
            float: left;
        }
        #generation-counter-wrapper h3 {
            float: right;
        }
}
