#canvas {
    background: #111;
    -webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
       -moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
            box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
    height: 400px;
    width: 800px;
    margin: auto;
}
    #canvas:hover, #canvas canvas:active {
        cursor: move;
    }

p#info {
    font-size: 12pt;
    margin-bottom: 20px;
    text-align: center;
}
    #fine-print {
        color: #888;
    }

#main h4 {
    margin-top: 30px;
}

#control-tabs {
    padding: 0;
    text-align: center;
}
    #control-tabs li {
        color: #347f51;
        cursor: pointer;
        display: inline-block;
        font-size: 13pt;
        margin: 0 10px;
    }
        #control-tabs li.selected {
            border-bottom: 3px solid #347f51;
        }

#control-panels {
    height: 74px;
}

.control-panel {
    clear: both;
    margin: auto;
    width: 40%;
}
    .control-panel > div {
        display: inline-block;
        width: 49%;
    }
    #main .control-panel h4 {
        margin-top: 10px;
    }

.slider {
    cursor: pointer;
    cursor:    -moz-grab;
    cursor: -webkit-grab;
    display: block;
    margin: auto;
}
    .slider:active {
        cursor:    -moz-grabbing;
        cursor: -webkit-grabbing;
    }

@media (max-width: 920px) {
    #canvas {
        height: 300px;
        width: 400px;
    }
}

@media (max-width: 660px) {
    .control-panel > div {
        display: block;
        width: 100%;
    }
}

@media (max-width: 500px) {
    #canvas {
        height: 225px;
        width: 300px;
    }
}
