#main .section-header {
    font-size: 16pt;
    margin-top: 40px;
    margin-bottom: 10px;
}

.pic-wrapper img {
    border: 12px solid white; /*shake it like a polaroid*/
    -webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
       -moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
            box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
    display: block;
    margin: 20px auto;
    width: 40%;
}
#main .pic-wrapper p {
    font-size: 12pt;
    margin-top: 15px;
    text-align: center;
}
